@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Tryk på log in for at logge ind!</p>
        <section>
            <div>
                <button onclick="location.href = 'https://localhost:44358/Identity/Account/Login';" type="submit" class="btn btn-primary">Log in</button>
            </div>
        </section>
</div>
